* {
    padding: 0px;
    margin: 0px;
}

.AdminDashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.AdminDashboard_Main {
    width: 100%;
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 20px;
    width: 100%;
    background-color: #fdfffc;
}
