.Exam_Result{
    width: 100%;
    margin: 100px 0px;
}

.Exam_Result_p1{
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #252a35ff;
    margin-bottom: 20px;
}

.Exam_Result_div{
    display: grid; 
    grid-template-columns: 0.6fr 1.4fr; 
    grid-template-rows: 1fr; 
    gap: 0px 50px; 
}

.Exam_Result_div1{
    box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px;
    padding: 40px;
    border-radius: 20px;
    height: max-content;
}

.Exam_Result_p2{
    font-family: 'QuickSand', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(37, 42, 53, 0.906);
}

/* .Exam_Result_sub{
    background-color: rgba(78, 127, 56, 0.064);
    border-radius:10px;
    padding: 15px;
} */

.Exam_Result_div2{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin: 15px 0px 20px;
    background-color: #4e7f380a;
    border-radius:10px;
    padding: 30px;
}

.Exam_Result_p3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    color: #3f6a2b;
}

.Exam_Result_p4{
    font-family: 'QuickSand', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgba(37, 42, 53, 0.858);
}

.Exam_Result_div4{
    display: flex;
    gap: 20px;
    margin: 10px 0px 25px;
}

.Exam_Result_tab{
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #3f6a2b;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}

.Exam_Result_tab:hover{

}

.Exam_Review{
    border: 2px solid #4e7f3870;
    margin: 15px 0px;
    border-radius: 10px;
}

.Exam_Review_header{
    /* border-bottom: 2px solid #4e7f3870; */
    padding: 30px;
}
.Exam_Review_question{
    /* padding: 30px; */
}

.Exam_Review__choice{
    border-bottom: 1px solid #4e7f3870;
    padding: 15px 20px;
}

.Exam_Review_choice_div{
    display: flex;
    flex-direction: column;
    border: 1px solid #4e7f3870;
    border-bottom: 0px;
    margin: 20px 0px 15px;
    border-radius: 10px;
    width: 70%;
}

.Exam_chart{
    margin: 20px auto 30px;
    height: 225px;
    display: flex;
    justify-content: center;
    position: relative;
}

.Exam_chart_p1{
    position: absolute;
    left: 50;
    top: 50%;
    bottom: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #252a35ff;
    font-family: 'Poppins', sans-serif;
    z-index: -1;
    /* background-color: red; */
}

.Exam_Review_q1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #3f6a2b;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 16px;
}

.Exam_Review_q2{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    
}